<ion-view title="Attendance" class="background">
  <ion-nav-bar class="bar-dark">
    <ion-content padding="true" class="has-header">
      <ion-nav-back-button class="button-clear" ng-click="goback()">
        <i class="ion-arrow-left-c"></i>
      <ion-list>

        <form>

          <tbody>
          <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
            <td>{{item.id}}</td>
            <td>{{item.Student Name}}</td>
            <td>{{item.field3}}</td>
            <td>{{item.field4}}</td>
            <td>{{item.field5}}</td>
          </tr>
          </tbody>


        </form>
      </ion-list>
    </ion-content>
  </ion-nav-bar>

</ion-view>



