<ion-view title="Sign Up" class="background">

      <ion-nav-bar class="bar-dark">
      <ion-nav-back-button class="button-clear" ng-click="goback()">
        <i class="ion-arrow-left-c"></i>
      </ion-nav-back-button>
        <ion-content padding="true">
        <form>
            <ion-list>
                    <label class="item item-input">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="First" ng-model="data.firstname">
                </label>
                <label class="item item-input">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Last" ng-model="data.lastname">
                </label>
                 <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="enter username..." ng-model="data.username">
                </label>

                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="you@domain.com" ng-model="data.email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="At least 6 characters" ng-model="data.password">
                </label>
                <label class="item item-input">
                    <span class="input-label">Banner ID</span>
                    <input type="number" placeholder="BannerID" ng-model="data.bannerId">
                </label>
                <button class="button button-dark" ng-click="studentSignupEmail()">Student</button>
                <button class="button button-dark" ng-click="teacherSignupEmail()">Teacher</button>

            </ion-list>
        </form>
        </ion-content>
      </ion-nav-bar>

</ion-view>
