<ion-view hide-nav-bar="true">
    <ion-content scroll="false" class="login background">

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>


      <div class="wrapper">
      <a href = "#/signup" class="button button-dark">
        Sign Up
      </a>

        <a href = "#/login" class="button button-dark">
          Sign In
        </a>
      </div>


    </ion-content>
</ion-view>
