<ion-view hide-nav-bar="true">
    <ion-content scroll="false" class="login background ">


      <br>
      <br>
      <br>


<center>
  <p class="qrhere">Sign Into QRHere!</p>
  <div class="homeimage" alt="Hand Raised" ></div>

  <div>
    <div class="text-center center">
      <form>
        <ion-list>
          <label class="item item-input">
           
            <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
           
            <input type="password" placeholder="Password" ng-model="data.password">
          </label>
        </ion-list>
        <br>
        <br>
        <button class="button button-dark" ng-click="loginEmail()">Sign In</button>
        <!--<button class="button bar-black" ng-click="forgetPasswordButton()">Login As Student </button>-->
      </form>
    </div>
    <br>
    
    <a href = "#/signup" class="button button-dark">
      Sign Up
    </a>

  </div>
</center>



    </ion-content>
</ion-view>
