/* Empty. Add your own CSS if you like */


body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.background{
    background-color: #EA9631
}

.welcome {
  background: url("assets/check.png") no-repeat center center fixed;
  background-size: cover;
}


.header .col {
  background-color:lightgrey;
}

.col {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
}

.col:last-child {
  border-right: solid 1px grey;
}

.row:last-child .col {
  border-bottom: solid 1px grey;
}

div.homeimage {
  width: 30%;
  border-radius: 45%;
  border-color: #69717d;
  content: url(http://www.learningsupport.org/courses/grabbers/handsup.jpg);
}
p.qrhere {
  font-family: "Monaco", monospace;
  font-size: 1.875em;
}
.center {
  margin: auto;
  width: 40%;
  padding: 10px;
}
.blackback {
  background-color: #e6b500;
}
